html, body {
    background-color: dimgray;
    font: bold 16px "Times New Roman";
    
}

canvas {
    border: 2px solid black;
    margin-left: 350px;
    top: 20px;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

button {
    background-color: white;
    border: 1px solid black;
    font: normal 13px "Times New Roman";
}

button:hover {
    background-color: lightgray;
    transition-duration: 0.1s;
}

button:active {
    background-color: gray;
    transition-duration: 0s;
}

.picker {
    display: block;
    width: 310px;
    background-color: beige;
    border: 2px solid black;
    text-align: center;
}

.info {
    display: block;
    border: 2px solid black;
    width: 310px;
    background-color: beige;
    text-align: center;
    align-self: center;
    margin-top: 20px;
}

/* Info Tags */
#rainbow {
    display: none;
    background-color: pink;
}

#lesbian {
    display: none;
    background-color: hotpink;
}
#gay {
    display: none;
    background-color: deepskyblue;
}
#bi {
    display: none;
    background-color: mediumpurple;
}
#pan {
    display: none;
    background-color: yellow;
}

#trans {
    display: none;
    background-color: mediumpurple;
}
#enby {
    display: none;
    background-color: purple;
}

#ace {
    display: none;
    background-color: rebeccapurple;
}
#aro {
    display: none;
    background-color: darkseagreen;
}
#aroace {
    display: none;
    background-color: orange;
}

#clear {
    display: none;
    background-color: white;
}